body{
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

main {
    flex-grow: 1;
    padding: 10px 10px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}

header img{
    height: 50px;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

header nav a{
    text-decoration: none;
    color: #1351d8;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav a:hover{
    color: #1b357e;
}

footer {
    padding: 10px 30px;
    background-color: #1b357e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: auto;
}

footer img{
    height: 30px;
}
.sociais{
    align-items: center;
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
}

.sociais img{
    transition: transform 0.3s ease;
}

.sociais img:hover{
    transform: scale(1.1);
}

.sociais h2 {
    font-size: 18px;
    }

.copyright {
    margin: 0;
    font-size: 14px;
    text-align: center;
}