main {
    margin-top: 20px;
}

.parte1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.veiculo-card img{
  transition: transform 0.3s ease;
}

.veiculo-card img:hover{
  transform: scale(1.05);
}

.video{
  flex: 1;
  min-width: 0;
}

.video iframe{
  width: 90%;
  height: 500px;
  border-radius: 8px;
  border: none;
}

.texto-destaque {
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  line-height: 1.8;
  font-size: 18px;
  color: #000;
}

.texto-destaque strong {
  color: #1351d8;
}

.texto-destaque strong:hover{
  color: #745cca;
}

.tabela{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tabelaCarros{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.veiculo-card{
  width: 250px;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
}

.veiculo-card img{
  width:100%;
  height: auto;
}

.veiculoInformacao{
  display: flex;
  align-items: flex-start;
}

.veiculoInformacao input[type="checkbox"]{
  width: 30px;
  height: 30px;
  min-width: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px 10px 0 0;
  position: relative;
  flex-shrink: 0;
}

.veiculoInformacao img{
  width: 20px;
  margin-top: auto;
  vertical-align: bottom;
}

.texto-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.veiculoInformacao h5{
  margin: 0;
  font-size: 11px;
  text-align: left;
  color: #1351d8;;
}

.veiculoInformacao p{
  margin: 0;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  color: #000;
}

.submit-botao{
  background-color: #1351d8;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10 px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 200px;
}

.submit-botao:hover{
  background-color: #00274C;
  color: #fff;
  transform: translateY(-2px);
}