main {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.tabelacarros{
  /* sfkakfkak */
}

.veiculo-card img{
  transition: transform 0.3s ease;
}

.veiculo-card img:hover{
  transform: scale(1.1);
}

.video{
  flex: 1;
  min-width: 0;
}

.video iframe{
  width: 90%;
  height: 500px;
  border-radius: 8px;
  border: none;
}

.texto-destaque {
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  line-height: 1.8;
  font-size: 18px;
  color: #000;
}

.texto-destaque strong {
  color: #1351d8;
}

.texto-destaque strong:hover{
  color: #745cca;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table img{
  margin-bottom: 10px;
}